@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.home {
  font-size: 24px;
}

.nav-link {
  font-size: 18px;
  margin-left: 40px;
  letter-spacing: 1px;
}
